services:
  builder:
    build:
      context: .
      dockerfile: docker/build.Dockerfile
    volumes:
      - .:/app
    working_dir: /app
    # Dòng này cực kỳ quan trọng để file build ra thuộc về user 'hai' thay vì 'root'
    user: "${USER_ID}:${GROUP_ID}"
