name: STM32 HIL Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: [self-hosted, stm32-board]

    steps:
      - name: Cleanup previous build (Fix Permission Denied)
        run: |
          if [ -d "firmware/build" ]; then
            sudo rm -rf firmware/build
          fi
          
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Run CI Tests
        run: |
          docker build -t bmp280-ci -f docker/ci.Dockerfile .
          docker run --rm bmp280-ci
      
      - name: Build Firmware with Docker
        run: |
          # Lấy ID của user hiện tại trên máy XPS
          export USER_ID=$(id -u)
          export GROUP_ID=$(id -g)
          
          # Chạy docker-compose và truyền biến môi trường vào
          docker compose run --rm builder make -C firmware clean all
      
      
      - name: Run HIL Test
        run: |
          # Đảm bảo python3-venv đã được cài đặt trên máy host
          # Tạo môi trường ảo nếu chưa tồn tại
          if [ ! -d "venv" ]; then
            python3 -m venv venv
          fi
          
          # Kích hoạt môi trường ảo
          source venv/bin/activate
          
          # Cập nhật pip và cài đặt thư viện
          pip install --upgrade pip
          if [ -f requirements.txt ]; then 
            pip install -r requirements.txt
          fi
          
          # Chạy script test
          python3 scripts/flash_and_test.py
